language: node_js

# Required to run firefox
dist: bionic

node_js:
  - 12
  - 14

env:
  # Download playwright binaries into node_modules so that
  # they're cached by Travis (together with node_modules)
  - PLAYWRIGHT_BROWSERS_PATH=0

addons:
  apt:
    packages:
    # Required to run chromium
    - libgbm1
    # Required to run webkit
    - libwoff1
    - libopus0
    - libwebp6
    - libwebpdemux2
    - libenchant1c2a
    - libgudev-1.0-0
    - libsecret-1-0
    - libhyphen0
    - libgdk-pixbuf2.0-0
    - libegl1
    - libgles2
    - libevent-2.1-6
    - libnotify4
    - libxslt1.1
    - libvpx5
    - gstreamer1.0-gl
    - gstreamer1.0-plugins-base
    - gstreamer1.0-plugins-good
    - gstreamer1.0-plugins-bad

notifications:
  email: false